.form-search {
    position: relative;
}
.icon-search {
    position: absolute;
    z-index: 10;
    left: 4%;
}
.inp-search {
    position: relative;
    padding-left: 40px;
}
.slide-top {
    margin-top: 4.3%;
    position: relative;
}
.btn-margin-left {
    margin-left: 10px;
}
.slide-content{
    padding-top: 80px;
}
.img-teacher {
    margin-left: 5%;
}
.courses-title{
    margin: 30px 0 15px -15px;
    font-size: 2rem;
    font-weight: 500;
}
.name-teacher{
    margin: auto 2%;
}
.icon-bookmark{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30%;
    margin-right: auto;
}
.bold{
    margin-left: 5%;
    font-weight: bold;
}
.line-through{
    margin-left: 3%;
    text-decoration: line-through;
}
.font-name-teacher{
    font-size: 0.9rem;
}
.font-foodter{
    font-size: 1.3rem;
}